body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e509a;
   transition: 1s;
}
body:hover{
    transform:scale(1.2);
}
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    width: 700px;
    min-height: 200px;
    background: rgba(37, 45, 153, 0.322);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 40px 30px;
    transition: .3s;
}
.error{
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.5em red;
}

@keyframes shake {
    0% { margin-left: 0rem; }
    25% { margin-left: 0.5rem; }
    75% { margin-left: -0.5rem; }
    100% { margin-left: 0rem; }
  }
.titre{
    font-family:American Typewriter, serif;
    color: white;
    margin-right: 150px;
}


.cont #nom{
    width: 350px;
    height: 30px; 
    border: 2px solid #2c3e50;
    padding: 8px;
    font-size: 1rem;
    border-radius: 60px;
    background: #fff;
    outline: none;
    transition: .3ms;
}
button{
    
    width: 100px;
    min-height: 30px;
    margin-left: 30px;
    padding: 15px 20px;
    text-align:center ;
    border: none;
    background-color: #2c3e50;
    outline: none;
    border-radius: 50px;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    transform: translateX(-5px);
    background-color: #34495e;
}
#message{
    margin-right: 150px;
}

@media (max-width:512px){
    body{
        display: block;   
    }
    .cont{
        width: 300px;  
        display: block;   
    }
    .cont .titre{
        margin-right:0px;
        margin-left: 25px;
        text-align: center;
    }
    .cont #message{
        transform: translateX(115px);
    }
    
    .cont #nom{     
        width: 250px;
        margin-left: 25px;
    }
    .cont button{
        width: 270px;
        margin-left: 25px;
        margin-top: 20px;
    }
}